.map {
    left: 50%;
    margin-top: 20px;
    margin-left: -250px;
    margin-bottom: 30px;
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 25px;
    line-height:22px;
    border-radius:4px;
    padding:0px 10px;
}