.content {
    display: inline-block;
    width: 30%;
    padding: 8px;
}

.content__image {

}

.content__image img {
    max-width: 100%;
    height: auto;
}

.content__data {
    font-weight: 300;
}

.content__addr {
    color: rgb(162, 162, 162);
}
